@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.new-class1 {
  background-color: #EF4444; /* This sets the background color to red-700 */
  border: 3px solid; /* This sets a 2-pixel solid border */
  padding: 13px;
 }

.h-30 {
  height: 30px;
}

.new-class2 {
  background-color: #EF44; 
  border: 1px solid; 
  padding: 13px;
  width: 25px;
  margin-bottom: 5px;
  font:bold;
  height: 8px;
  }

  .selecionado {
    background-color: #6200B3;
  }

  .ocupado {
    background-color: #72e1d1;
  }

  
.bus-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Adjust the gap between seats */
}

.mr2 {
  margin-right: 1rem; 
}

.clicked{
  /* Set the initial styles */
  transition: transform 0.3s; /* Add a smooth transition effect */
}

.clicked:hover {
  /* Set the styles when the element is hovered */
  transform: scale(1.3); /* Increase the size by 10% */
}

